{{- $authors := slice }}
{{- range $author := .Params.authors }}
  {{- $name := $author.name }}
  {{- if $author.me }}
    {{- $name = printf `<span class="author-me">%s</span>` $name }}
  {{- end }}
  {{- if $author.home }}
    {{- $author = (printf `<a href="%s" target="_blank" rel="noopener noreferrer">%s</a>` $author.home $name) }}
  {{- else }}
    {{- $author = $name }}
  {{- end }}
  {{- $authors = $authors | append $author }}
{{- end }}
{{ delimit $authors ", " | safeHTML }}
{{- if .Params.venue }}
  <br><h4 class="venue">{{ .Params.venue | markdownify }}</h4>
{{- end }}